#calendar {
	width: 75%;
	margin: 0 auto;
}
#container {
	text-align: left;
	overflow: auto;
	overflow-x: hidden;
	max-height: 15em;
	margin-bottom: 1em;
}
#container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#container::-webkit-scrollbar
{
	width: 10px;
	background: transparent;
}

#container::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-color: #2199e8;
	/*background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)*/
}

#cHeight{
	width: 100%;
	height: 75%;
}

ul {
	list-style-type:none;

}
li {
	color: white;
}

#sidebar_choice {
	padding-right: 10em;
}
#wrap {
	position: relative;
	top: 3%;
	width: 75%;
	height: 750px;
	margin: 0 auto;
	border: solid 1px lightgrey;
	padding: .5% 0% 2% 2;
	display: none;
}

body {
  background-color: #F0F0F3;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	font-family: Century Gothic;
	color: white;
}

h5 {
	font-size: 18px;
}

.login-box {
  background: #80b3ff;
  border: 10px solid #737373;
  border-radius: 10px;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}


#title {
	text-align: center;
}

#createProfileModal, #viewProfileModal, #addEventModal, #viewEventModal, #createTeamModal {
	margin-top: 4%;
	max-width: 1100px;
}

#header {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 10%;
	font-family: Century Gothic;
	font-size: 50px;
}

#header:after{
	content: "";
	position: absolute;
	left: 2.5%;
	bottom: 0;
	height: 1px;
	width: 95%;
	border-bottom: solid 1px lightgrey;
}

#viewProfileBtn {
	position: absolute;
	right: 1%;
	bottom: 1%;
}

#fc-center {
}
#fc-right {
}
.wrapper {
	position: absolute;
	height: 90%;
	width: 80%;
	bottom: 0;
	right: 0;
}
.wrapper-pad{
	padding-top: 2%;
}
#sidebar {
	color: white;
	position: absolute;
	height: 90%;
	width: 20%;
	left: 0;
	top: 10%;
	text-align: center;
	padding: 5% 1%;
	display: none;
}
#sidebar:after{
	content: "";
	position: absolute;
	right: 0;
	top: 7.5%;
	height: 85%;
	width: 1px;
	border-right: solid 1px lightgrey;
}
.circle {
  border-radius: 50%;
	height: 125px;
	width: auto;
}
#emp-dropdown{
	width: 90%;
}
label{
	color: white;
}
.reveal-modal, .reveal{
	background: #80b3ff;
  border: 10px solid #737373;
  border-radius: 10px;
  padding: 40px 20px 0 20px;
}

#signOutButton{
	display: none;
}

.holiday {
	background: lightgreen;
}

.no-click{
	pointer-events: none;
}
